header {
  display: flex;
  position: fixed;
  z-index: 1;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
}

.logo {
  display: flex;
  padding-left: 30px;
  align-items: center;
  flex-grow: 1;
}

.logo span {
  color: mediumaquamarine;
  padding-left: 20px;
}

nav {
  padding-right: 40px;
}

nav span {
  padding: 20px 10px;
}
